* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}



/* Skjemaet til kjøpe knappen */
.bekreft {
    margin: 4rem;
    border: 1px solid #1232A8;
    height: 50vh;
    border-radius: 10px;
    padding: 4vh;
    box-shadow: #1232A8 0px 5px 15px;
}


/*Boksene med pris, navn, etc..*/
.form {
    box-shadow: #1232A8 0px 5px 15px;
    height: 50vh;
    border-radius: 10px;
    background: #1232A8;
}


/*Boksene med pris, navn, etc..*/
.list-group-flush .list-group-item {
    margin: 4vh;
    border-top: 80px;
    border-radius: 10px;
}

/* Kjøpe knappen */
#reg {
    border-radius: 20px;
    box-shadow: lightgrey 0px 5px 15px;
    background: #1232A8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1232A8, #1232A8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1232A8, #1232A8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bekreft_ordre {
    color: white;
    width: 20vh;
    height: 5vh;
    border-radius: 20px;
    box-shadow: lightgrey 0px 5px 15px;
    background: #1232A8; /* fallback for old browsers */
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

a {
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
}
