* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
}


main {
    width: 100%;
    display: flex;
    height: 100vh;
}

section {
    height: 100vh; 
}

.left-bar, a, p {
    height: 100%;
    flex-basis: 20%;
    color: white;
    width: 100%;
    text-decoration: none;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.right-bar {
    flex-basis: 80%;
    height: 100%;
    width: 100%;
    padding: 2vh;
}

.stock-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
}

#aksjer {
    height: 90%;
    width: 50px;
    border: 1px solid black;
    flex-basis: 50%;
    margin: 2vh;
    border-radius: 10px; 
}

#purchase-container {
    height: 90%;
    width: 50px;
    flex-basis: 50%;
    margin: 2vh;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
}


#buy {
    background-color: #8FEB9E;
    margin: 2vh;
    cursor: pointer;
    color: white;
    border: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none; 
}

#buy:hover {
   box-shadow: 5px 5px lightgrey;
}

input {
    height: 50px;
    width: 50%;
    margin: 2vh;
    
}


.left-container {
    display: flex;
    width: 100%;
    color: white; 
    background-color: black;
    height: 33.3333%;
    justify-content: center;
    flex-direction: column;
}


#logo {
    height: 50px;
    width: 50px; 
}


.left-bar-item {
    font: 20px bold;
    padding-left: 4vh;
    cursor: pointer;
    margin: 2vh; 
}


.line {
    width: 0%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Roboto', sans-serif;
}

.line:hover {
    width: 70%;
    border-bottom: 1px solid white;
    margin-left: 2vh;
    font: 30px bold;
    font-family: 'Roboto', sans-serif;
}

.profile {
    display: flex; 
    padding-left: 2vh; 
    color:  white;
    align-items: center;
    justify-content: space-around; 
}

#profile_img {
    height: 80px;
    width: 80px; 
}

.dashboard {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-image: url("https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F635944%2Fgettyimages-165649635.jpg&w=700&op=resize")
}

.dashboard:hover {
    box-shadow: 5px 5px 5px 5px lightgrey;
}


/* - - - - - - - - - - - - - - - - - - PORTFOLIO PAGE STYLING - - - - - - - - - - - - - - - - - - - - - - - -  */




   