* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
}


main {
    width: 100%;
    display: flex;
    height: 100vh;
}

section {
    height: 100vh; 
}



/* Left side */

.left-bar a {
    height: 100%;
    flex-basis: 20%;
    color: white;
    width: 100%;
    text-decoration: none;
}


.left-container {
    display: flex;
    width: 100%;
    color: white;
    background-color: black;
    height: 33.3333%;
    justify-content: center;
    flex-direction: column;
}


#logo {
    height: 50px;
    width: 50px;
}


.left-bar-item {
    font: 20px bold;
    padding-left: 4vh;
    cursor: pointer;
    margin: 2vh;
}



.line {
    width: 0%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Roboto', sans-serif;
}

.line:hover {
        width: 70%;
        border-bottom: 1px solid white;
        margin-left: 2vh;
        font: 30px bold;
        font-family: 'Roboto', sans-serif;
}

.profile {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}

#profile_img {
    height: 40px;
    width: 40px;
}


/* Right side */
.right-bar {
    flex-basis: 80%;
    height: 100%;
    width: 100%;
    padding: 2vh;
}


.stock-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
}



#purchase-container {
    height: 90%;
    width: 50px;
    flex-basis: 50%;
    margin: 2vh;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
}



.dashboard {
    display: flex;
    justify-content: center;
    max-height: 50%;
    width: 100%;
    border-radius: 10px;
}


/* Denne stylingen gjelder for index og portefølje siden. */